{% extends 'navbar.html'%}
{% load static %}
{% block content %}
<section id="center" class="clearfix ">
    <div class="container" style="background-color: #b3afaf0f; padding-top: 4rem; padding-bottom: 4rem;">
     <div class="row">
       <div class="center_shop_1 clearfix">
        <div class="col-sm-6">
         <div class="center_shop_1l clearfix">
          <h3 class="mgt">All Products</h3>
         </div>
        </div>
        <div class="col-sm-6">
         <!-- <div class="center_shop_1r text-right clearfix">
          <h5><a class="col_2" href="#">Home</a> / <a class="col_2" href="#">Shop</a> / <span>Shop Grid Sidebar Left</span></h5>
         </div> -->
        </div>
       </div>
     </div>
    </div>
    </section>

    <section id="shop">
        <div class="container">
         <div class="row">
           <div class="shop_1 clearfix">
            <div class="col-sm-3">
              <div class="shop_1lm clearfix">
            
               <div class="product_1 clearfix"style="border-radius:10px;border:2px solid #73A71E; padding-left: 0;padding-bottom: 2rem; ">
               <h4 class="mgt"style="background-color:#73A71E;  border-top-right-radius: 8px; border-top-left-radius: 8px; padding:1rem; color:white;">CATEGORIES</h4>
               <hr>
               
               {% if categories %}
               {% for cat in categories %}
                <a href="{% url 'store:category-products' cat.slug %}">
                   <div class="py-2 px-4 {% if category == cat %}bg-dark text-white {% else %}bg-light{% endif %} mb-3">
                     <strong class="small text-uppercase font-weight-bold">{{cat.title}}</strong>
                   </div>
                 </a>
               {% endfor %}
             {% endif %}

         
              
            
        
              </div>
             
             
              
              </div>
            </div>

       



            <div class="col-sm-9">
        
               
              <div class="sell_o_1 clearfix">
                {% if products %}
                {% for product in products %}
                <div class="col-sm-4">
                    <div class="arriv_2m clearfix">
                      <div class="arriv_2m1 clearfix">
                        <a class="d-block" href="">
                            <img class="img-fluid w-100" src="{{product.product_image.url}}" alt="{{product.title}}"style=" height: 150px; width=220px; " >
                        </a>
                      </div>
                      
                     
                      <div class="arriv_2m3 clearfix">
                       <h4 class="bold mgt">{{product.title}}</h4>
                       
                      
                       <h3 class="normal">
                       <span class="span_3 col_1"> </span> 
                       </h3>
                      </div>
                    </div>
                </div>
                  
                    

                {% endfor %}
                {% endif %}
            </div>
            
    
             </div>
            </div>
           </div>
         </div>
        </div>
        </section>
 
{% endblock %}